@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        // אם המשתמש הוא מנהל מערכת (Admin)
        if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Dashboard">Dashbord</a>
            </li>
        }

        // קישורים למשתמש מחובר
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="UserDashboard">mylibrary</a>
        </li>
    }
    else
    {
        // קישורים למשתמש לא מחובר
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
